# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.idea/
.vscode/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
.melody
.metadata

# iOS/Android specific
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
android/.gradle/
android/app/build/

# MacOS/Windows/Linux
macos/Flutter/ephemeral/
windows/Flutter/ephemeral/
linux/Flutter/ephemeral/

# Others
*.log
*.lock
*.tmp
*.DS_Store
*.iml

# Dependency folders (DO NOT push pub packages)
pubspec.lock
